/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.description, .features, .preview, .call-to-action {
    padding: 20px;
}

.description h2, .features h2, .preview h2, .call-to-action h2 {
    color: #333;
}

.features ul {
    list-style-type: none;
}

.call-to-action button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.call-to-action button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.call-to-action.middle h2,
.call-to-action.middle a {
    color: rgb(29, 153, 255);
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.call-to-action.middle {
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-content a{
    text-decoration: none;
    color: white;
}